*{
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe9fd;
}

.container{
    position: relative;
    width: 350px;
    height: 500px;
    padding: 10px;
    
}


.letter {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    perspective: 1000px;
    transition: top 2s;
    
}

.letter-cover {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 2s, z-index 3s;
    transform-style: preserve-3d;
    z-index: 2;
}

/* .letter:hover .letter-cover {
    transform: rotateX(180deg);
    z-index: 0;
} */

.open-top {
    transform: rotateX(180deg);
    z-index: 0;
}

/* .letter:hover .letter-content {
    opacity: 1;
} */

.show-content {
    opacity: 1;
}

/* .letter:hover {
    top: 50%;
} */

.move-letter {
    top: 50%;
}

.letter-cover-front, .letter-cover-back {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

.letter-cover-back {
    transform: rotateY(180deg) rotate(180deg);
    box-shadow: 1px 0px 2px black;
    
}

.letter-cover-front {
    box-shadow: 1px 1px 2px black;
}

.letter-content{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    box-shadow: 1px 1px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: white;
    font-size:15px;
    font-family:Arial;
    border-width:1px;
    color:#be37d6;
    text-shadow:1px 1px 0px #000000;
    font-weight:bold;
}


#heart-image {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#ready-button {
    height: 50px;
}

.quiz-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.quiz-image {
    height: 200px;
    width: 100%;
    position: relative;
}

.quiz-question {
    height: 100px;
    width: 310px;
    font-size:15px;
    font-family:Arial;
    border-width:1px;
    color:#ffffff;
    border-color:#a511c0;
    font-weight:bold;
    border-radius: 6px;
    padding: 20px;
    box-shadow:inset 0px 1px 0px 0px #e184f3;
    text-shadow:inset 0px 1px 0px #9b14b3;
    background:linear-gradient(#c123de, #a20dbd);
    display: flex;
    align-items: center;
}

#counter {
    position: absolute;
    font-size:12px;
    font-family:Arial;
    color:#ffffff;
    font-weight: bold;
    right: 30px;
    bottom: 180px;

}

.quiz-answers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.quiz-answers-sub {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.answer-button, .retry-button {
    width: 150px;
    height: 70px;
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}
.answer-button:hover, .retry-button:hover  {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
.answer-button:active, .retry-button:active {
	position:relative;
	top:1px;
}


#gifs {
    width: 100%;
    height: 100%;
}

.iframe-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hidden {
    display: none !important;
}

.incorrect-image, .final-image {
    width: 100%;
    position: relative;
}

.incorrect-container, .final-container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.incorrect-gif, .final-gif {
    height: 200px;
    width: 100%;
    position: relative;
}


.retry-button {
    height: 50px;
}

.incorrect-content, .final-content {
    height: 200px;
    width: 310px;
    font-size:15px;
    font-family:Arial;
    border-width:1px;
    color:#ffffff;
    border-color:#a511c0;
    font-weight:bold;
    border-radius: 6px;
    padding: 20px;
    box-shadow:inset 0px 1px 0px 0px #e184f3;
    text-shadow:inset 0px 1px 0px #9b14b3;
    background:linear-gradient(#c123de, #a20dbd);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.final-content {
    justify-content: center;
    gap: 10px;
}
